/**
 * @author Tempest
 * @email tar118@pitt.edu
 * @create date 2022-08-31 14:39:25
 * @modify date 2022-08-31 14:39:37
 * @desc Global CSS for this application
 */
@font-face {
  font-family: 'Hack';
  src: url(/public/assets/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#root,
div#root > div {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

a {
  color: inherit!important; /* blue colors for links too */
  text-decoration: inherit!important; /* no underline */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #212020;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a9a9b3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #feb272;
}

.page {
    display: block;
    background-color: #ffffff;
    color: #212529;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    justify-content: center;
    align-items: center;
    margin: 0
}
