@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

a {
  color: inherit!important; /* blue colors for links too */
  text-decoration: inherit!important; /* no underline */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #212020;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a9a9b3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #feb272;
}
