.page {
    display: block;
    background-color: #ffffff;
    color: #212529;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    justify-content: center;
    align-items: center;
    margin: 0
}